.lightLink {
  color: white !important;
  margin-right: 1em;
  font-size: calc(10px + 1vw) !important;
}
.circle { 
  width: 25vw;
  border-width: 4px;
  border-color: white;
}

.circle:after {
  border-radius: 50%;
  position: relative;
  opacity: .7;
  background-color: black;
  border-width: 4px;
  border-color: white;
  content: "";
  display: flex;
  padding-bottom: 100%;
}

.ptmSizing {
  max-width: fit-content !important;
  max-height: fit-content !important;
}