.lightLink {
  color: white !important;
  margin-right: 1em;
  font-size: 2.5vmin !important;
}
.circle { 
  width: 20vw;
}

.circle:after {
  border-radius: 50%;
  position: relative;
  opacity: .7;
  background-color: black;
  content: "";
  display: flex;
  padding-bottom: 100%;
}

.ptmSizing {
  max-width: fit-content !important;
  max-height: fit-content !important;
}